
<% if comments.total_pages > comments.current_page %>
  <%= link_to comments_path(page: comments.current_page + 1, issue_id: issue.id),
              remote: true,
              data: { disable_with: "loading…" },
              class: 'show-previous-comments' do
  %>
    Show previous comments
  <% end %>
<% end %>

<div class='comment-list'>
  <% comments.reverse.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
