<% if can? :edit, @issue %>
  <div class='follow-issue-toggle-option'>
    <% if @issue.followers.include?(current_user) %>
      <% title_text = "You will receive emails of comments people make on this issue. Click to stop receiving comment updates for this issue." %>
      <i class="fi-check"></i>
      <%= link_to 'follow comments',
          unfollow_issue_path(issue_number: @issue.issue_number),
          title: title_text
      %>
    <% else %>
      <% title_text = "You do *not* receive emails of comments people make on this issue. Click to receive comment updates for this issue." %>
      <i class="">&nbsp;</i>
      <%= link_to 'follow comments',
          follow_issue_path(issue_number: @issue.issue_number),
          title: title_text
      %>
    <% end %>
  </div>
<% end %>
