<span data-tooltip aria-haspopup="true"  class="has-tip input-prompt new followers" title="New Feature. Add more people to this list before you comment if you would like them to receive notification of your comment. To update the list (by computer only) hover over the box below and then click on Edit. Start typing in someones name and select a result. Then save changes.">new</span>

<div id="follower-list">
  <div class='follower-list-container'>
    <b>Notified</b>:
    <%=
      if @issue.followers.present?
        follower_links @issue.followers
      else
        "&nbsp;none".html_safe
      end
    %>
  </div>
  <div>
    &nbsp;
    <a id='edit-followers'>edit</a>
  </div>
</div>


<div id='follower-tokens' style='display:none;'>
  <%= simple_form_for @issue, remote: true do |f| %>
    <%= f.text_field :user_tokens,
        "data-pre" => @issue.followers.collect{ |u| {id: u.id, name: u.name }}.to_json
    %>
    <%=
      f.button :submit,
      'save',
      id: 'update-issue-followers',
      class: 'button secondary tiny'
      # data: {'disable-with' => 'updatig…'}
    %>
    <a id='cancel-issue-follower-update'>cancel</a>
  <% end %>
</div>
