<table>
  <body>
    <% if can? :read, Update %>
      <tr>
        <td>Reporter:</td>
        <td>
          <%= render 'users/user_info_link', user: @issue.user %>
        </td>
      </tr>
    <% end %>
    <% if @issue.reported_at %>
      <tr>
        <td>Reported:</td>
        <td><%= @issue.reported_at.strftime("%H:%M - %d %b %Y") %></td>
      </tr>
    <% end %>
    <% if @issue.completed_at && (@issue.resolved? || @issue.closed?) %>
      <tr>
        <td>Completed:</td>
        <td><%= @issue.completed_at.strftime("%H:%M - %d %b %Y") %></td>
      </tr>
    <% end %>
    <tr>
      <td>Updated:</td>
      <td><%= @issue.edited_at.strftime("%H:%M - %d %b %Y") %></td>
    </tr>
  </body>
</table>
