<div class='show-closed-issues-link'>
  <% if params['excl_closed'].present? %>
    <%= link_to 'include closed issues', issue_number_path2(@issue, params) %>
  <% else %>
    <%= link_to 'exclude closed issues', issue_number_path2(@issue, params, { excl_closed: true }) %>
  <% end %>
</div>
<br><br>

<p>
  <% if can? :destroy, @issue %>
    <%= link_to 'delete', @issue, method: :delete, data: { confirm: 'Are you sure you want to delete this issue?' }, style: "float: right" %>
  <% end %>
</p>
