<section class="issue-contacts">
  <h5>Route Contacts</h5>
  <% if @issue.route.present? && @issue.coordinate.present? %>
    <b>Staff:</b> <%= user_links @staff_route_managers %> </br>
    <% if can? :read, Update %>
      <b><%= "Ranger".pluralize(@ranger_route_managers.count) %>:</b> <%= user_links @ranger_route_managers %></br>
    <% end %>
    <% if can? :read, Update %>
      <b>Coordinator:</b> <%= user_links @coordinator_route_managers %>
    <% end %>
  <% else %>
    Specify a route and coordinate to show contacts
  <% end %>
</section>
