<% @issue.images.each_with_index do |image, index| %>
  <div class="issue-image-container">
    <% if image.src.present? %>
      <%= image_tag image.src_url(defined?(is_modal) ? :zoom : :main), alt: "", :'data-reveal-id' => 'imageZoomModal', :'data-index' => index   %>
    <% elsif image.url.present? %>
      <%= image_tag image.url, alt: "", :'data-reveal-id' => 'imageZoomModal', :'data-index' => index  %>
    <% else %>
      <br>
    <% end %>
    <div class='caption'>
      <%= image.caption %>
    </div>

    <% if defined?(is_modal) %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <% end %>
  </div>
<% end %>
