<% if very_near_issues.present? %>
  <h5><%= very_near_issues_title %></h5>
  <ul>
    <% very_near_issues.each do |issue| %>
      <li><%= link_to "issue #{ issue.issue_number }", issue_path(issue) %> - <%=t issue.state %></li>
    <% end %>
  </ul>
<% end %>
