<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>

        <h1>Editing issue</h1>

        <%= simple_form_for @issue, url: issue_number_path2(@issue, params) do |f| %>
          <%= render 'form', f: f %>
        <% end %>

        <%= link_to 'Show', @issue %> |
        <%= link_to 'Back', issues_path %>

    </div>
  </div>
</div>
