<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
      <h1>New issue</h1>
      
      <%= render 'form' %>
      
      <%= link_to 'Back', issues_path %>
      </div>
  </div>
</article>