<% if can_do? current_user, "ranger coordinator staff admin" %>
  <li class=''>
    <a href="#" class="button select" data-dropdown="labelSelection" aria-controls="labelSelection" data-options="is_hover:true" aria-expanded="false"><%= @current_label ? @current_label.name + " ▼" : "labels ▼" %></a>
    <ul id="labelSelection" class="f-dropdown" data-dropdown-content aria-hidden="true" >
      <% unless @current_label.nil? %>
        <li>
          <%= link_to "any label", issues_path(filter_params(params, {label: nil})) %>
        </li>
      <% end %>
      <% @labels.each do |label| %>
        <% unless ((@current_label && @current_label == label)) %>
          <li>
            <%= link_to label.name, issues_path(filter_params(params, {label: label})) %>
          </li>
        <% end %>
      <% end %>
      <% unless @current_label && @current_label.name == "undefined" %>
        <li>
          <%= link_to "undefined", issues_path(filter_params(params, {label: "undefined"})) %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
