<li>
  <a href="#" class="button select" data-dropdown="routeSelection" aria-controls="routeSelection" data-options="is_hover:true" aria-expanded="false"><%= @current_route ? @current_route.name + " ▼" : "all routes ▼" %></a>
  <ul id="routeSelection" class="f-dropdown" data-dropdown-content aria-hidden="true" >
    <% unless @current_route.nil? %>
      <li>
        <%= link_to "all routes", issues_path(filter_params(params, {route: nil})) %>
      </li>
    <% end %>
    <% @routes.each do |route| %>
      <% unless @current_route == route %>
        <li>
          <%= link_to route.name, issues_path(filter_params(params, {route: route.slug})) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</li>
