<br>
<hr>
<div style="font-size:12px; color:#777;">
  <p>
    You received this email because you volunteer or work for Sustrans and agreed to be signed up to the online National Cycle Network route issue management application <%= link_to 'ncn reporting', root_url %>.
  </p>
  <p>
    <b>No longer want to receive these notifications?</b><br>
    You can disable the notifications on your profile page here:<br>
    <%= link_to edit_user_registration_url, edit_user_registration_url %>
  </p>
  <p>You can also select which open issue notifications you receive by updating your "Label for notification" options</p>
</div>