<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @exception.message %></p>
    <br>
    <p>
      <% @exception.backtrace[0..200].each do |line| %>
        <%= line %><br>
      <% end %>
    </p>
  </body>
</html>
