<article class='administrative-area'>
  <div class='row'>
    <div class='small-12 columns'>

      <h1>Editing administrative area</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @administrative_area %> |
      <%= link_to 'Back', administrative_areas_path %>
    </div>
  </div>
</article>