article.admin{
  h1{
    display: inline-block;
  }
}


.user-info-link{
  position: relative;
  .user-info{
    display: none;
  }
  &:hover{
    .user-info{
      position: absolute;
      bottom: 0;
      left: rem-calc(10);
      display: block;
      width: rem-calc(100);
    }
  }
}
