

.admin.users{

  .filter-options-label{
    font-size: rem-calc(12);
    color: $medium-grey;
    a{
      color: $medium-grey;
    }
  }
  .user-filters{
    a{
      &:hover{
        text-decoration: none;
      }
    }
    >li{
      padding-bottom: rem-calc(10);
      a.button{
        padding: rem-calc(10 0 0 0);
        margin-bottom: 0;
        height: rem-calc(40);
        font-size: rem-calc(12);
        @media #{$medium-only} {
          font-size: rem-calc(11);
        }
        @media #{$medium-up} {
          height: rem-calc(35);
        }
      }
      @media #{$small-only} {
        padding-bottom: rem-calc(10);
        >a{
          margin-bottom: rem-calc(10);
        }
      }
      &.filter-checkboxes{
        form:first-of-type div{
          margin-top: rem-calc(-2);
        }
        form:last-of-type div{
          margin-top: rem-calc(-6);
        }
        input{
          margin: 0;
        }
        label{
          margin: rem-calc(0 0 0 3);
          vertical-align: top;
          line-height: 1.5;
          font-size: rem-calc(11);
        }
      }
    }
    .f-dropdown{
      max-width: rem-calc(103);
      a{
        font-size: rem-calc(14);
        padding: rem-calc(5 8);
        line-height: 1.5;
        @media #{$medium-up} {
          font-size: rem-calc(11);
          padding: rem-calc(3 8);
          line-height: 1.2;
        }
        @media #{$large-up} {
          font-size: rem-calc(12);
        }
      }
    }
  }

  .user-count-row{
    text-align: right;
    font-size: rem-calc(12);
    color: grey;
  }
  .pagination{
    height: rem-calc(40);
    // min-width: rem-calc(190);
    padding-top: rem-calc(5);
    font-size: rem-calc(12);
    text-align: right;
    a{
      font-size: rem-calc(12);
      &.next_page, &.previous_page{
        // font-size: rem-calc(16);
      }
    }
    .disabled{
      color: $medium-grey;
    }
  }
}


.admin{
  &.users{

    .send-site-notifications{
      display: inline-block;
      .button.tiny{
        margin-right: rem-calc(5);
        margin-bottom: rem-calc(5);
        @media #{$medium-up}{
          margin-bottom: rem-calc(30);
        }
      }
    }
    .site-notification-sent-time{
      font-size: rem-calc(12);
      color: $red;
      &.today{
        color: $dark-green;
      }
      &.recently{
        color: $grey;
      }
      @media #{$small-only}{
        display: block;
        margin-bottom: rem-calc(30);
      }
    }
  }

  table.users{
    width: 100%;
    tr{
      td{
        height: rem-calc(50);
        @media #{$large-up}{
          height: auto;
        }
        img{
          border-left: rem-calc(4) solid $light-grey;
        }
        img{
          width: rem-calc(30);
          @media #{$large-up}{
            width: rem-calc(50);
          }
        }
      }
      &.recently img{
        border-color: darken($light-pink, 9);
      }
      &.today img{
       border-color: $yellow;
      }
      &.yesterday img{
       border-color: darken($light-green, 10);
      }
      &.month img{
       border-color: lighten($light-blue-grey, 10);
      }
    }
  }
}
