default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: ncn_reporting_development
  host: localhost
  pool: 5
  username: postgres
  password: password

test:
  <<: *default
  database: ncnreporting_test
  host: localhost
  username: postgres
  password: password

production:
  <<: *default
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
