<article class='area'>
  <div class='row'>
    <div class='small-12 columns'>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @area.name %>
      </p>

      <%= link_to 'Edit', edit_area_path(@area) %> |
      <%= link_to 'Back', areas_path %>
    </div>
  </div>
</div>