<% if issue.comments.present? && (issue.comments.last.updated_at + 7.days) > Time.zone.now %>
  <% if issue.description.present? %>
    <p>
      <label class='description'>Description:</label> <%= strip_markdown(issue.description)[0..100] %>
      <% if issue.description.length > 100 %>
          …
      <% end %>
    </p>
  <% end %>
  <ul class="update-comments">
    <% if issue.comments.count > 3 %>
      <li><span class="helip">⋮</span></li>
    <% end %>
    <% issue.comments.order('comments.updated_at ASC').last(3).each do |comment| %>
      <li>
        <span class='commentor'>
          <%= render 'users/user_info_link', user: comment.user %>:
        </span>
        <span class="comment">
          <%= comment.formatted_content %>
        </span>
        <span class='comment-time'>
          <%= comment.updated_at.strftime("%H:%M %d %b %Y") %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
