<%
  search_option = { @search_type.gsub('administrative_area', 'area') => (result.try(:slug) || result.id ) }
  search_link = category == 'issue' ? issues_path(search_option) : admin_users_path(search_option)
%>
<li class='search-result'>
  <%= link_to (result.try(:short_name) || result.name), search_link %>
</li>
