<% if @total_pending_count > 0 %>
  <a href="#" data-dropdown="nofications-dropdown-key" aria-controls="nofications-dropdown-key" data-options="is_hover:true; hover_timeout:60000">
    <span class='ncn-style-count'><%= @total_pending_count %></span>
    <span class="notification-count-label">notifications</span>
  </a>
  <span class="notification-count-label">&nbsp;&bullet;&nbsp;</span>
  <ul id="nofications-dropdown-key" class="f-dropdown nofications-dropdown" data-dropdown-content>

    <%= render 'notification_types' %>

  </ul>

<% end %>