<article class='route'>
  <div class='row'>
    <div class='small-12 columns'>

        <h1>Editing route</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @route %> |
        <%= link_to 'Back', routes_path %>

      <%= link_to 'Back', routes_path %>
    </div>
  </div>
</div>