header{
  position: relative;
  background-color: lighten($road-sign-blue,20);
  border-bottom: rem-calc(1) solid #aaa;
  a[data-dropdown="beta"]{
    position: absolute;
    top: 0;
    left: rem-calc(5);
  }
  #beta{
    background-color: rgba(240, 240, 255, 0.95);
    color: $grey;
    a{
      color: $grey;
    }
    p{
      line-height: 1.3;
      font-size: rem-calc(12);
    }
  }
  .user-controls{
    color: white;
    #controls-cog{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
  // shared nav styling
  nav.top-bar{
    background: none;
    li{
      background: none;
    }
    .top-bar-section{
      ul{
        li:not(.has-form){
          a:not(.button){
            background: none;
            text-decoration: none;
            &:hover{
              background-color: lighten($road-sign-blue,15);
            }
          }
          &.current{
            a:not(.buttom){
              background-color: lighten($road-sign-blue,15);
            }
          }
        }
      }
    }
    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
      background-color: lighten($road-sign-blue,25);
      &:hover{
        background-color: lighten($road-sign-blue,15);
      }
    }
  }
  .header-controls{
    display: table;
    width: 100%;
    position: relative;
    .logo-area, .user-controls-area{
      display: table-cell;
      vertical-align: top;
      color: white;
    }
    .logo-area{
      a{
        display: inline-block;
        width: 100%;
        img{
          width: 100%;
          max-width: rem-calc(426);
        }
      }
    }
    .user-controls-area{
      .user-controls{
        @media #{$medium-up} {
          min-width: rem-calc(107);
          font-size: rem-calc(13);
        }
        float: right;
        z-index: 110;
        nav{
          z-index: 120;
          .parent-link{
            display: none;
          }
          .has-drop-down{
            z-index: 130;
          }
        }
        .top-bar-section li:not(.has-form) a:not(.button){
          background: none;
          text-decoration: none;
          &:hover{
            background-color: lighten($road-sign-blue,15);
          }
        }
        .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
          background-color: lighten($road-sign-blue,25);
          &:hover{
            background-color: lighten($road-sign-blue,15);
          }
        }
      }
    }
  }
  nav.top-bar.main-nav{
    z-index: 10;
    margin-top: rem-calc(10);
    height: rem-calc(35);
    .top-bar-section li:not(.has-form) a:not(.button){
      line-height: rem-calc(35);
    }
  }
  .controls-row{
    position: relative;
    .controls-icon{
      position: absolute;
      right: rem-calc(-5);
      top: rem-calc(-20);
      @media #{$medium-up}{
        top: rem-calc(-22);
        right: rem-calc(-10);
      }
      @media #{$large-up}{
        top: rem-calc(-22);
        right: rem-calc(-20);
      }
    }
  }
}

#tubolinks-loader{
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1000;
  img{
    width: rem-calc(30);
  }
  @media #{$small-only} {
    img{
      width: rem-calc(20);
    }
  }
}

#notifications{
  ul#nofications-dropdown{
    // width: rem-calc(140);
    background-color: $very-light-blue;
    li{
      a{
        &:hover{
          color: $black;
        }
      }
    }
  }
}