article.issue{

  h1{
    display: inline-block;
  }
  .issue-title-and-nav{
    margin: rem-calc(10 0);
    h1{
      margin: rem-calc(0 15);
      line-height: 1;
    }
    img{
      margin-bottom: rem-calc(15);
    }
  }
  .tab{
    &.selected{
      background-color: darken($light_grey, 4);
    }
    &:hover{
      background-color: darken($light_grey, 6);
      a{
        text-decoration: none;
      }
    }
  }
  .filter-options-label{
    font-size: rem-calc(12);
    color: $medium-grey;
  }
  .issue-filters{
    a{
      &:hover{
        text-decoration: none;
      }
    }
    >li{
      padding-bottom: rem-calc(10);
      a.button{
        padding: rem-calc(10 0 0 0);
        margin-bottom: 0;
        height: rem-calc(40);
        @media #{$medium-only} {
          font-size: rem-calc(12);
        }
      }
      @media #{$small-only} {
        padding-bottom: rem-calc(10);
        >a{
          margin-bottom: rem-calc(10);
        }
      }
    }
    .f-dropdown{
      max-width: rem-calc(145);
      a{
        padding: rem-calc(5 8);
        @media #{$medium-only} {
          font-size: rem-calc(12);
        }
      }
    }
    .pagination{
      height: rem-calc(40);
      min-width: rem-calc(138);
      padding-top: rem-calc(25);
      font-size: rem-calc(13);
      .disabled{
        color: $medium-grey;
      }
    }
  }
  .issue-images{
    position: relative;
    .caption{
      position: absolute;
      bottom: 0;
      background-color: rgba(250,250,250,0.5);
      width: 100%;
      padding: rem-calc(0 10);
    }
  }
  #issue_title{
    margin-bottom: 0;
  }
  #issue_coordinate{
    margin-bottom: 0;
  }
  #issue_images_attributes_0_url{
    margin-bottom: 0;
  }
  .category-problems-list{
    list-style-type: none;
    margin: 0;
  }
  .issues-table-container{
    display: inline-block;
  }
  .pagination{
    display: inline-block;
    float: right;
  }

  form.button_to{
    display: inline-block;
  }

  .issues-table-container{
    width: 100%;
    table.issues{
     width: 100%;
     margin-bottom: 0;
     tr{
      td, a{
        font-size: rem-calc(12);
      }
      td:last-of-type{
        border-bottom: rem-calc(1) solid #eee;
      }
     }
   }
   .download-issues{
     margin-bottom: rem-calc(15);
     text-align: right;
     font-size: rem-calc(10);
     color: grey;
     a{
       // font-size: rem-calc(10);
     }
   }
  }

  #comments{
    .comment{
      .delete-comment{
        float: right;
        margin-right: rem-calc(5);
        visibility: hidden;

      }
      &:hover{
        .delete-comment{
          visibility: visible;
          color: grey;
          &:hover{
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
      .comment-content{
        background-color: $light-grey;
        padding: rem-calc(0 10);
        font-size: rem-calc(13);
      }
      .comment-footer{
        background-color: $very-light-blue;
        padding: rem-calc(0 10);
        margin-bottom: rem-calc(5);
        line-heiht: 0;
        text-align: right;
        .comment-label{
          display: inline-block;
          font-size: rem-calc(11);
          line-height: 1;
        }
      }
    }
  }
}