article.issue{

  
  h1{
    display: inline-block;
  }
  .tab{
    &.selected{
      background-color: darken($light_grey, 4);
    }
    &:hover{
      background-color: darken($light_grey, 6);
      a{
        text-decoration: none;
      }
    }
  }
  .issue-filters{
    .f-dropdown{
      max-width: 178px;
    }
  }
  .issue-images{
    position: relative;
    .caption{
      position: absolute;
      bottom: 0;
      background-color: rgba(250,250,250,0.5);
      width: 100%;
      padding: rem-calc(0 10);
    }
  }

  #issue_coordinate{
    margin-bottom: 0;
  }
  #issue_images_attributes_0_url{
    margin-bottom: 0;
  }
  .category-problems-list{
    list-style-type: none;
    margin: 0;
  }
  .issues-table-container{
    display: inline-block;
  }
  .pagination{
    display: inline-block;
    float: right;
  }
}