
// $light-grey: #ddd;
$off-white: #f9f9f8;
$light-grey: #f5f5f5;
$medium-grey: #aaa;
$grey: #888;
$dark-grey: #555;
$black: #333;

$light-blue-grey: #b4c8db;
$very-light-blue: #EEF;
$road-sign-blue: #047ac4;
$light-blue: lighten($road-sign-blue,20);

$red: #E41634;

$pink: #F99;
$light-pink: lighten($pink, 14);

$yellow: #FE9;
$light-yellow: lighten($yellow, 10);

$green: #A8F5A8;
$light-green: lighten($green, 12);
