article.search{
  margin: rem-calc(0 20);
  button.new-issue-link{
    float: right;
    margin: rem-calc(0 0 0 15);
    @media #{$medium-up}{
      margin: rem-calc(-51 0 15 15);
    }
  }
  .search-bar{
    min-width: rem-calc(250);
  }
}
