* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
  padding-top: rem-calc(20);
}
footer, .push {
  height: 50px; /* .push must be the same height as .footer */
}

footer{
  background-color: lighten($road-sign-blue,20);
  margin-top: rem-calc(10);
  span{
    float:right;
    margin-top: rem-calc(10);
    font-size: rem-calc(10);
    color: white;
  }
}

p.notice{
  padding-left: rem-calc(10);
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/