* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
  padding-top: rem-calc(20);
}
footer, .push {
  height: 50px; /* .push must be the same height as .footer */
}

footer{
  background-color: lighten($road-sign-blue,20);
  margin-top: rem-calc(10);
  span{
    float:right;
    margin-top: rem-calc(10);
    font-size: rem-calc(10);
    color: white;
  }
}

p.notice{
  padding-left: rem-calc(10);
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

#warning-banner{
  position: relative;
  padding: rem-calc(5 20);
  background-color: $red;
  margin: rem-calc(-20 0 20 0);
  color: white;
  font-size: rem-calc(14);
  line-height: 1.2;
  a{
    font-weight: 700;
    color: white;
  }
  #close-warning-banner{
    position: absolute;
    top: rem-calc(0);
    right: rem-calc(10);
    font-size: rem-calc(35);
    cursor: pointer;
    color: $dark-grey;
    @media #{$large-up}{
      right: rem-calc(20);
    }
    &:hover{
      color: darken($dark-grey, 7);
    }
  }
}
