html body{
  font-family: 'PT Sans', sans-serif;
  
  >article{
    padding-top: rem-calc(20);
  }
  h1{
    font-size: rem-calc(35);
  }
  h2{
    font-size: rem-calc(25);
  }

  a{
    &:hover{
      text-decoration: underline;
    }
  }
  .button.select{
    background-color: $light-blue-grey;
    &:hover{
      background-color: darken($light-blue-grey, 6);
    }
    width: 100%;
    height: rem-calc(50);
    padding: rem-calc(15 3);
  }

  textarea, select{
    margin-bottom: rem-calc(16);
  }


  label.checkbox{
    vertical-align: top;
    input[type="checkbox"] {
      margin-top: 0.15em;
      margin-right: rem-calc(5);
      vertical-align: top;
    }
  }

  .required.error{
    input{
      border: rem-calc(1) solid red;
    }
    .error{
      background: none;
      color: red;
    }
  }

  .input-prompt{
    display: inline-block;
    margin-bottom: rem-calc(10);
    font-size: rem-calc(12);
  }

  .f-dropdown {
    outline: none;
  }

  a.button.select{
    text-decoration: none;
  }

  select{
    padding: rem-calc(5 8);
  }

  footer{
    // background-color: grey;
    // -moz-box-shadow:    inset  0  8px 8px -8px #000, 
    //                     inset  0 -8px 8px -8px #000;
    // -webkit-box-shadow: inset  0  8px 8px -8px #000, 
    //                     inset  0 -8px 8px -8px #000;
    //  box-shadow:        inset  0  8px 8px -8px #000, 
    //                     inset  0 -8px 8px -8px #000;
  }

  .hide-for-small-when.new{
    @media #{$small-only} {
      display: none;
    }
  }

  .ncn-style-count{
    display: inline-block;
    background-color: $red;
    padding: rem-calc(0 3);
    border: rem-calc(1) solid white;
    border-radius: rem-calc(3);
    line-height: 1.1;
    font-size: rem-calc(12);
  }
  a:hover{
    .ncn-style-count{
      text-decoration: underline;
    }
  }
}
