html body{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  .button.select{
    background-color: $light-blue-grey;
    &:hover{
      background-color: darken($light-blue-grey, 6);
    }
    width: 100%;
    height: rem-calc(50);
    padding: rem-calc(15 3);
  }

  textarea, select{
    margin-bottom: rem-calc(16);
  }

  .required.error{
    input{
      border: rem-calc(1) solid red;
    }
    .error{
      background: none;
      color: red;
    }
  }

  .input-prompt{
    display: inline-block;
    margin-bottom: rem-calc(10);
    font-size: rem-calc(12);
  }
}