article.user{
  .profile-image{
    position: relative;
    height: rem-calc(100);
    width: rem-calc(100);
    text-align: center;
    font-size: rem-calc(11);
    color: $grey;
    img.ajax-loader{
      margin-top: rem-calc(44);
    }
    img.missing-profile-picture{
      width: 100%;
    }
    .delete-image{
      @media #{$medium-up}{
        display: none;
      }

      position: absolute;
      top: rem-calc(-3);
      right: rem-calc(3);
      line-height: 1;
      font-size: rem-calc(30);
      color: $black;
      &:hover{
        text-decoration: none;
        color: $dark-grey;
      }
    }
    &:hover{
      .delete-image{
        display: inline;
      }
    }
  }
  .reveal-browse-button{
    font-size: rem-calc(11);
  }
  #image_src{
    margin-top: rem-calc(20);
  }

  #edit_user{
    margin-top: rem-calc(20);
  }

  ul.user-list{
    li{
      position: relative;
      .user-issue-count{
        position: relative;
        top: rem-calc(-4);
        font-size: rem-calc(10);
        color: $red;
      }
    }
  }
}
